.DS_Store
node_modules


# local env files
.env.local
.env.*.local
/src/services/firebase.js
/firebase-importer/vue-movie-app-a5e5a-firebase-adminsdk-eiw8y-5652350f7b.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
